body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: Roboto, sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer";
    grid-gap: 0.4rem;
}

header {
    grid-area: header;
    background: #73ffba;
    height: 90px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

// Push logo to left
.nav-item:first-child {
    margin-right: auto;
}

#logo {
    font-size: 22pt;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    grid-area: sidebar;
    background: #1de9b6;
}

main {
    grid-area: main;
    background: #84ffff;
    min-height: 600px;
}

footer {
    grid-area: footer;
    background: #6fffd2;
    height: 60px;
}