@import "fonts";

// Fonts
$text-font-family: cmu_serifroman, Georgia, serif;
$heading-font-family: cmu_sans_serifbold, Helvetica, sans-serif;
$typewriter-font-family: cmu_typewriter_textregular, "Lucida Console", monospace;

// Colors
$bg-color: #f7f9fb !default;
$fg-color: #212121 !default;

$rlab-purple: #6F5961;
$rlab-greengray: #5E666A;
$rlab-dark: #222222;
$rlab-offwhite: #EEEEEE;
$rlab-lightgray: #9d9d9d;
$rlab-green: #6D8E87;
$rlab-yellow: #E0C59B;
$rlab-orange: #DB7B51;