@import "fonts";

// Fonts
$text-font-family: cmu_serifroman, Georgia, serif;
$heading-font-family: cmu_sans_serifbold, Helvetica, sans-serif;
$typewriter-font-family: cmu_typewriter_textregular, "Lucida Console", monospace;

// Colors
$bg-color: #f7f9fb !default;
$fg-color: #212121 !default;