---
title: Page not found!
permalink: /404.html
layout: layouts/base.html
---

{% block content %}
    <h1>404: Page not found</h1>
    <p>Ooops! Looks like you're trying to access a nonexistent page. Click <a href="{{ "./index.html" | url }}">here</a> to return to the homepage.</p>
{% endblock %}