<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Joseph D. Romano" />
    
    {# Note: The dash in the following line is an em-dash (U+2014) #}
    <title>{{ subtitle + ' — ' if subtitle }}Romano Lab @ Penn</title>

    <!--Icons-->
    <script src="https://use.fontawesome.com/04f6e4e6fe.js"></script>
    {% favicons 'src/_includes/assets/icons/biohazard.svg' %}  {# Let a plugin handle the favicon stuff #}

    <link rel="stylesheet" href="{{ '_includes/assets/css/style.css' | url }}"/>
    
    <!--Semantic metadata-->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Organization",
        "name": "The Romano Lab at the University of Pennsylvania",
        "url": "https://romanolab.org/",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Philadelphia, Pennsylvania, USA",
            "postalCode": "09104",
            "streetAddress": "403 Blockley Hall 423 Guardian Drive"
        },
        "email": "joseph.romano@pennmedicine.upenn.edu",
        "telephone": "+1-802-558-5839",
        "member": [
            "https://jdr.bio"
        ],
        "sameAs": [
            "https://www.wikidata.org/wiki/Q116036288"
        ]
    }
    </script>
    <meta property="og:title" content="{{ subtitle + ' — ' if subtitle }}Romano Lab @ Penn" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:site_name" content="The Romano Lab at the University of Pennsylvania" />
    <meta property="og:locale" content="en_US" />
    <meta name="robots" content="index, follow" />

</head>