---
title: Welcoming Chloé Paris to the lab
tags: news
date: 2023-06-04
---

We're thrilled to have Chloé Paris - a PhD student in Penn's Graduate Program in Genomics and Computational Biology - join the Romano Lab as a dissertation advisee! Chloé's work seeks new discoveries in understudied areas of womens' health using graph machine learning.