---
title: ComptoxAI
subtitle: A knowledge infrastructure for AI research in computational toxicology
permalink: /tools-software/comptoxai.html
layout: layouts/base.njk
---

{% block content %}
<p>Return to <a href="../index.html">home</a></p>
<hr/>
<h2>ComptoxAI</h2>
<h3>A knowledge infrastructure for AI research in computational toxicology</h3>
<p> Visit website:
<a href="https://comptox.ai" target="_blank"><button class="btn-primary">ComptoxAI</button></a>
</p>

{% endblock %}