@import url('https://fonts.googleapis.com/css2?family=Coda&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:wght@700&family=Voces&display=swap');

:root {
    /* Fonts */
    --text-font-family: cmu_serifroman, Georgia, serif;
    --heading-font-family: cmu_sans_serifbold, Helvetica, sans-serif;
    --typewriter-font-family: cmu_typewriter_textregular, "Lucida Console", monospace;

    /* Colors */
    --bg-color: #212121;
    --rlab-offwhite: #EEEEEE;
    --rlab-dark: #2E2E2E;
    --primary: #DB27E9;
    --secondary: #00ad07;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    color: var(--rlab-offwhite);
}

h1, h2, h3, h4 {
    font-family: 'Coda', sans-serif;
}

a {
    color: var(--secondary);
}

.container {
    display: grid;
    /* height: 100vh;
    grid-template-columns: 0.8fr 6fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "sidebar main empty"
        "footer footer footer"; */
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header"
        "main";
    grid-gap: 0.8rem;
}

header {
    grid-area: header;
    background: var(--rlab-dark);
    height: 70px;
    border-radius: 6px;
}

nav {
    height: fit-content;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    color: var(--rlab-offwhite);
    font-weight: 600;
}

.nav-item a {
    text-decoration: none;
    color: var(--rlab-offwhite);
    transition:all 170ms ease-in;
}

.nav-item a:hover {
    /* color: #ffffff; */
    color: var(--primary)
}

/* Push logo to left */
.nav-item:first-child {
    margin-right: auto;
}

#logo {
    font-size: 22pt;
    font-weight: 700;
    font-family: 'Voces', sans-serif;
}

.sidebar {
    grid-area: sidebar;
}

.container > main {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 0.8fr 6fr 1fr;
    grid-template-areas: 
        "sidebar main empty"
        "footer footer footer";
    grid-gap: 0.8rem;
}

footer {
    grid-area: footer;
    height: 60px;
}

.footer-text {
    margin-left: 3rem;
}

#homepage-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "banner banner"
        "intro projects"
        "news news"
        "poslink poslink";
    grid-gap: 4rem;
}

#intro {
    grid-area: intro;
}

#motto {
    text-align: center;
}

#banner-area {
    grid-area: banner;
    /* min-height: 290px; */
}

#graph-banner {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#projects {
    grid-area: projects;
}

#news {
    grid-area: news;
}

#pos-link {
    grid-area: poslink;
}

#project-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 3rem;
}

.btn-primary {
    font-family: 'Coda', sans-serif;
    font-size: 1.5rem;
    background: var(--primary);
    border: none;
    outline:none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.3rem 0.7rem;
    margin: 1rem;
}

.headshot-big {
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 1.5rem;
}

.headshot {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 1rem;
}

img {
    width: 100%;
}

.titles {
    padding-top: 8px;
}

.location {
    padding-top: 8px;
}

#pi {
    min-height: 320px;
}

.member {
    min-height: 230px;
}

.member p {
    font-size: 0.9em;
    margin-block-start: 0;
    margin-block-end: 2px;
}

.alum p {
    font-size: 0.9em;
    margin-block-start: 0;
    margin-block-end: 2px;
}

.friend p {
    font-size: 0.9em;
    margin-block-start: 0;
    margin-block-end: 2px;
}

.member-links {
    padding-top: 8px;
}

.alum h4 {
    margin-bottom: 0;
}

.friend h4 {
    margin-bottom: 0;
}

hr {
    border: 1px solid var(--primary);
}

.pub-entry {
    margin-top: 24px;
    padding-left: 5px;
    padding-bottom: 4px;
    border-left: solid var(--primary) 5px;
}
.pub-entry p {
    margin-top: 6px;
}

.pub-button-journal {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 4px;
    padding-top: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pub-button-journal:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.grant {
    padding-top: 8px;
}