<!DOCTYPE html>
<html>
    {% include "layouts/head.njk" %}
    
    <body>
        <div class="container">
            {% include "layouts/header.njk" %}
            
            
            
            <main>
                <div class="sidebar"></div>
                <div id="content">
                    {{ content | safe }}
                </div>
                {% include "layouts/footer.njk" %}
            </main>
            
            
        </div>
        
        <script>
            {% include 'assets/js/graph.js' %}
        </script>
    </body>
</html>