<header>
    <nav>
        <ul class="nav-list">
            <li class="nav-item" id="logo"><a href="{{ "/index.html" | url }}" {% if page.url == "/" %}aria-current="page"{% endif %}>Romano Lab</a> @ <a href="https://upenn.edu" target="_blank" id="pennlink">Penn</a></li>
            <li class="nav-item"><a href="{{ "/research.html" | url }}" {% if page.url == "/research.html" %}aria-current="page"{% endif %}>Research</a></li>
            <li class="nav-item"><a href="{{ "/people.html" | url }}" {% if page.url == "/people.html" %}aria-current="page"{% endif %}>People</a></li>
            <li class="nav-item"><a href="{{ "/publications.html" | url }}" {% if page.url == "/publications.html" %}aria-current="page"{% endif %}>Publications</a></li>
            <li class="nav-item"><a href="{{ "/contact.html" | url }}" {% if page.url == "/contact.html" %}aria-current="page"{% endif %}>Contact</a></li>
            {# <li class="nav-item"><a href="{{ "/blog.html" | url }}" {% if page.url == "/blog.html" %}aria-current="page"{% endif %}>Blog</a></li> #}
        </ul>
    </nav>
</header>