---
layout: layouts/base.njk
title: People
permalink: people.html
---

{% block content %}
<div class="container">
    <h1>Lab Members</h1>
    <p>
        <i>See our <a href="{{ "./contact.html" }}">contact page</a> for information on open positions in the lab.</i>
    </p>
    <div id="pi">
        <h3>Principal Investigator</h3>
        <div class="member">
            <div class="headshot-big">
                <img src="./assets/img/headshot-500px-1.jpg" alt="Headshot of Joseph D. Romano, PhD"/>
            </div>
            <h4>Joseph D. Romano, PhD, MPhil, MA</h4>
            <div class="titles">
                <p>Assistant Professor of Informatics and Pharmacology</p>
                <p>Institute for Biomedical Informatics</p>
                <p>Center of Excellence in Environmental Toxicology</p>
                <p>Department of Biostatistics, Epidemiology, &amp; Informatics</p>
                <p>University of Pennsylvania</p>
            </div>
            <div class="location">
                <p>403 Blockley Hall</p>
                <p>423 Guardian Drive</p>
                <p>Philadelphia, PA 19104</p>
            </div>
            <div class="member-links">
                <p>
                    <a href="https://www.med.upenn.edu/apps/faculty/index.php/g275/p9275909">Faculty profile</a> | <a href="http://jdr.bio">Personal website</a> | <a href="https://twitter.com/JDRomano2">Twitter</a> | <a href="https://www.linkedin.com/in/jdromano2/">LinkedIn</a>
                </p>
            </div>
        </div>
    </div>
    <hr/>
    <div id="staff">
        <h3>Staff</h3>
        <div class="member">
            <div class="headshot">
                <img src="./assets/img/tom.jpg" alt="Headshot of Tom Pan"/>
            </div>
            <h4>Tom Pan</h4>
            <div class="titles">
                <p>Data Scientist</p>
                <p>University of Pennsylvania</p>
            </div>
        </div>
    </div>
    <hr/>
    <div id="trainees">
        <h3>Students and Trainees</h3>
        <div class="member">
            <div class="headshot">
                <img src="./assets/img/chloe-paris-headshot.jpeg" alt="Headshot of Chloé Paris"/>
            </div>
            <h4>Chloé Paris</h4>
            <div class="titles">
                <p>PhD Student</p>
                <p><a href="https://www.med.upenn.edu/gcb/" target="_blank">Graduate Group in Genomics and Computational Biology</a></p>
                <p>University of Pennyslvania</p>
            </div>
        </div>
        <div class="member">
            <div class="headshot">
                <img src="./assets/img/tram-anh.jpg" alt="Headshot of Tram Anh Nguyen"/>
            </div>
            <h4>Tram Anh Nguyen</h4>
            <div class="titles">
                <p>PhD Rotation Student</p>
                <p><a href="https://www.med.upenn.edu/gcb/" target="_blank">Graduate Group in Genomics and Computational Biology</a></p>
                <p>University of Pennsylvania</p>
            </div>
        </div>
        <div class="member">
            <div class="headshot">
                <img src="./assets/img/placeholder.jpeg" alt="Headshot of Giuseppe Albi"/>
            </div>
            <h4>Giuseppe Albi</h4>
            <div class="titles">
                <p>Visiting PhD Student</p>
                <p>University of Pavia</p>
            </div>
        </div>
        <div class="member">
            <div class="headshot">
                <img src="./assets/img/wendy-cropped.jpg" alt="Headshot of Wendy Su"/>
            </div>
            <h4>Wendy Su</h4>
            <div class="titles">
                <p>PhD Rotation Student</p>
                <p><a href="https://www.med.upenn.edu/gcb/" target="_blank">Graduate Group in Genomics and Computational Biology</a></p>
                <p>University of Pennsylvania</p>
            </div>
        </div>
        <div class="member">
            <div class="headshot">
                <img src="./assets/img/estefania-morales-headshot.jpg" alt="Headshot of Estefaia Morales"/>
            </div>
            <h4>Estefania Morales</h4>
            <div class="titles">
                <p>Undergraduate Researcher</p>
                <p><a href="https://www.med.upenn.edu/idealresearch/suip/" target="_blank">Summer Undergraduate Internship Program</a></p>
                <p>University of Pennsylvania (visiting from Tufts University)</p>
            </div>
        </div>
        <div class="member">
            <div class="headshot">
                <img src="./assets/img/placeholder.jpeg" alt="Headshot of Kevin Shen"/>
            </div>
            <h4>Kevin Shen</h4>
            <div class="titles">
                <p>Undergraduate Researcher</p>
                <p>University of Pennsylvania</p>
            </div>
        </div>
    </div>
    <hr/>
    <div id="alumni">
        <h3>Lab Alumni</h3>
        <div class="alum">
            <h4>Angela Wu</h4>
            <div class="titles">
                <p>M.D. Candidate</p>
                <p>Baylor College of Medicine</p>
            </div>
        </div>
    </div>
    <hr/>
    <div id="friends">
        <h3>Friends of the Lab</h3>
        <div class="friend">
            <h4>Sokratis Apostolidis, MD</h4>
            <div class="titles">
                <p>Instructor of Medicine</p>
                <p>NRSA Postdoctoral Fellow of Medicine</p>
                <p>University of Pennsylvania</p>
            </div>
        </div>
        <div class="friend">
            <h4>Yun Hao, PhD</h4>
            <p>Postdoctoral Researcher / Flatiron Research Fellow</p>
            <p>Simons Foundation</p>
        </div>
        <div class="friend">
            <h4>Rachit Kumar</h4>
            <p>MD/PhD Student</p>
            <p>Medical Scientist Training Program</p>
            <p>University of Pennsylvania</p>
        </div>
    </div>
</div>
{% endblock %}