---
layout: layouts/base.njk
title: Contact Us
permalink: contact.html
---

{% block content %}
<div class="container">
    <h1>Contact us</h1>
    <p>
        For all lab-related business or other inquiries, please contact Dr. Joseph D. Romano via email at:
    </p>
    <div id="email-display">
        <tt class="mono-font">joseph.romano</tt> <i>(at)</i> <tt class="mono-font">pennmedicine.upenn.edu</tt>
    </div>
    <p>
        Our mailing address is:
    </p>
    <div id="address-display">
        <span>Joseph D. Romano</span><br/>
        <span>403 Blockley Hall</span><br/>
        <span>423 Guardian Drive</span><br/>
        <span>Philadelphia, PA 19104</span><br/>
    </div>

    <hr/>
    <h2>Open positions</h2>
    <h3>Postdoctoral Researchers</h3>
    <p>
        We are recruiting for multiple postdoctoral researcher positions in computational toxicology, machine learning, and pharmacoinformatics. Interested applicants should email Dr. Romano with a 1-2 page research statement, current CV, and the names / contact information of 3 professional references familiar with the applicant's research. Qualified candidates will have a PhD (or equivalent doctoral degree) in biomedical informatics, computer science, biomedical engineering, or a similar field, a strong academic publishing record, and experience in one or more programming languages.
    </p>
    <h3>Graduate Research Assistants</h3>
    <p>
        Prospective PhD students should apply to either the Graduate Group in Genomics and Computational Biology (GCB) or the Graduate Group in Pharmacology (PGG) at the University of Pennsylvania, and have interests in one or more of the following fields:
    </p>
        <ul>
            <li>Translational bioinformatics</li>
            <li>Computational toxicology</li>
            <li>Biomedical ontologies</li>
            <li>Graph machine learning</li>
            <li>Cheminformatics</li>
            <li>Clinical informatics</li>
            <li>Natural product drug discovery</li>
        </ul> 
    <p>
        Current or incoming GCB/PGG students are encouraged to set up a time to discuss rotation projects with Dr. Romano.
    </p>
    
</div>
{% endblock %}