<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joseph D. Romano, PhD" />
    
    <title>{{ subtitle + ' — ' if subtitle }}Romano Lab @ Penn</title>

    {% favicons 'src/assets/icons/biohazard.svg' %}
    
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
