---
title: Funding
permalink: /funding.html
layout: layouts/base.njk
---

{% block content %}
<h1>Active funding</h1>

<div class="grant">
    <h3>Discovering endpoints of toxicity using semantic data analysis and graph machine learning (<tt>K99-LM013646</tt>; PI: Romano)</h3>
    <p>
        This grant establishes a major new resource in computational toxicology - named ComptoxAI - and demonstrates that heterogeneous graph machine learning and semantic data analysis are effective tools for making new discoveries linking environmental toxicants to clinically-significant human diseases. ComptoxAI is a growing resource that includes a large graph knowledge base, programmatic access tools, educational materials for computational toxicology, and a gallery of effective machine learning models for conducting artificial intelligence analyses on public toxicology data.
    </p>
</div>

<div class="grant">
    <h3>Biomarker discovery for early prediction of autoimmunity in immunotherapy patients through deep immune profiling and temporal graph convolutional networks (Co-PIs: Romano and Apostolidis)</h3>
    <p>
        This grant - awarded by the Colton Center for Autoimmunity at Penn - funds the development of new AI-based approaches to discovering biomarkers of immune-related adverse events. Immunotherapy is a groundbreaking approach to cancer treatment where certain pharmacologic drugs are used to train the immune system to selectively recognize and destroy cancer cells. Despite its innovation, immunotherapy causes severe autoimmune reactions in some patients, but predicting which patients will have these reactions is currently not possible. In this work, we are using patient-level temporal knowledge graphs to discover new biomarkers that will aid the prediction of these immune-related adverse events before they occur, allowing care teams to modify treatment plans before harm occurs.
    </p>
</div>

{% endblock %}