---
title: Funding
subtitle: Funding
permalink: /funding.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
<p>Return to <a href="index.html">home</a></p>
<hr/>
<h2>Active funding</h2>
<p>

</p>

<h3>Discovering endpoints of toxicity using semantic data analysis and graph machine learning (<tt>K99-LM013646</tt>; PI: Romano)</h3>
<p>
    This grant establishes a major new resource in computational toxicology - named ComptoxAI - and demonstrates that heterogeneous graph machine learning and semantic data analysis are effective tools for making new discoveries linking environmental toxicants to clinically-significant human diseases. ComptoxAI is a growing resource that includes a large graph knowledge base, programmatic access tools, educational materials for computational toxicology, and a gallery of effective machine learning models for conducting artificial intelligence analyses on public toxicology data.
</p>

{% endblock %}