---
title: Homepage
permalink: /index.html
layout: layouts/base.njk
---

{% block content %}
    <div id="banner-area">
        <h1 id="motto">Knowledge-driven biomedical AI</h1>
        <canvas id="graph-banner" width="800" height="250"/>
    </div>
    <div id="homepage-content">
        <div id="intro">
            <h2>About our research</h2>
            <hr/>
            <p>
                We use emerging computational technologies&#8212;with a focus on artificial intelligence (AI)&#8212;to discover mechanisms underlying diverse human diseases.
            </p>
            <p>
                Our main areas of clinical interest include:
                <ul>
                    <li class="list-item-standard"><b>Environmental toxicology:</b> <i>Which diseases can be caused by exposure to specific environmental chemicals, and why?</i></li>
                    <li class="list-item-standard"><b>Maternal health:</b> <i>How do environmental exposures contribute to risk of diseases in pregnancy?</i></li>
                    <li class="list-item-standard"><b>Autoimmune diseases:</b> <i>Why do some people develop life-threatening autoimmune reactions to emerging cancer immunotherapy drugs?</i></li>
                </ul>
            </p>
            <p>
                For more details about these and other research projects, click <a href="{{ "research.html" }}" target="_blank">here</a>.
            </p>

        </div>
        <div id="projects">
            <h2>Software and resources</h2>
            <hr/>
            <p>
                We build new <a href="{{ "learn/knowledge-graphs.html" }}">knowledge bases</a> and tools for analyzing complex biomedical networks. Check the links below to learn about some of these:
            </p>
            <ul id="project-list">
                <li><a href="https://comptox.ai" target="_blank"><button class="btn-primary">ComptoxAI</button></a></li>
                <li><a href="http://alzkb.ai" target="_blank"><button class="btn-primary">AlzKB</button></a></li>
                <li><a href="https://github.com/RomanoLab/ista" target="_blank"><button class="btn-primary">Ista</button></a></li>
            </ul>
        </div>
        <div id="news">
            <h2>Recent news and publications</h2>
            <hr/>
            <ul class="news-list">
                {% set newslist = collections.news | limit(4) %}
                {%- for news in newslist | reverse -%}
                    <li class="news-item">{{ news.data.date | asPostDate }}: <a href="{{ news.url }}">{{ news.data.title }}</a></li>
                {%- endfor -%}
            </ul>
        </div>
        <div id="pos-link">
            <h2>Open positions</h2>
            <hr/>
            <p>See our <a href="{{ "./contact.html" }}">contact page</a> for information on open positions in the lab.</p>
        </div>
    </div>
{% endblock %}