---
title: Homepage
permalink: /index.html
layout: layouts/base.njk
---

{% block content %}
    <div id="banner-area">
        <h1 id="motto">Knowledge-driven biomedical AI</h1>
        <canvas id="graph-banner" width="800" height="250"/>
    </div>
    <div id="homepage-content">
        <div id="intro">
            <h2>About the lab's research</h2>
            <hr/>
            <p>
                We use translational bioinformatics and artificial intelligence to discover new links between chemical exposures and human disease.
            </p>
            <p>
                Our original contributions include:
                <ul>
                    <li><b>Data:</b> Biomedical knowledge graphs and knowledge infrastructures.</li>
                    <li><b>Methods:</b> Graph machine learning, integrative omics, automated machine learning.</li>
                    <li><b>Applications:</b> <i>Predicting</i> and <i>explaining</i> outcomes of exposure to environmental or pharmaceutical chemicals.</li>
                </ul>
            </p>
            
        </div>
        <div id="projects">
            <h2>Current research projects</h2>
            <hr/>
            <p><i>Click <a href="{{ "research.html" }}" target="_blank">here</a> for a longer description of these projects.</i></p>
            <ul id="project-list">
                <li><a href="https://comptox.ai" target="_blank"><button class="btn-primary">ComptoxAI</button></a></li>
                <li><a href="http://alzkb.ai" target="_blank"><button class="btn-primary">AlzKB</button></a></li>
                <li><a href="https://github.com/RomanoLab/ista" target="_blank"><button class="btn-primary">Ista</button></a></li>
            </ul>
        </div>
        <div id="news">
            <h2>Recent news and publications</h2>
            <hr/>
            <ul class="news-list">
                {% set newslist = collections.news | limit(4) %}
                {%- for news in newslist | reverse -%}
                    <li class="news-item">{{ news.data.date | asPostDate }}: <a href="{{ news.url }}">{{ news.data.title }}</a></li>
                {%- endfor -%}
            </ul>
        </div>
        <div id="pos-link">
            <h2>Open positions</h2>
            <hr/>
            <p>See our <a href="{{ "./contact.html" }}">contact page</a> for information on open positions in the lab.</p>
        </div>
    </div>
{% endblock %}