---
title: Homepage
permalink: /index.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
    <h1>Romano Lab</h1>
    <h2>Knowledge-driven biomedical data science</h2>
    <canvas></canvas>
    <p>
        The Romano Lab is a new biomedical research team launching in 2023 at the <a href="https://www.upenn.edu">University of Pennsylvania's</a> <a href="https://www.med.upenn.edu">Perelman School of Medicine</a>. 
    </p>
    <p>
        We focus on using <i>structured biomedical knowledge</i> to answer interesting questions in biomedicine. We're particularly interested in applications to environmental toxicology. Some of our favorite methods are multimodal graph machine learning and applied ontology inference.
    </p>
    <p>
        Peripheral areas of interest include:
    </p>
    <ul>
        <li>Natural product drug discovery</li>
        <li>Genetic programming / evolutionary algorithms</li>
    </ul>
    <hr/>
    <h3>Personnel</h3>
    Check <a href="personnel.html">here</a> for current and past members of the lab.
    <hr/>
    <h3>Open Positions</h3>
    <p>
        We are <a href="positions.html">hiring</a> for multiple positions!
    </p>
{% endblock %}