---
title: Lab Members
subtitle: Lab Members
permalink: /personnel.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
<p>Return to <a href="index.html">home</a></p>
<hr/>
<h2>Current lab members</h2>
<h3>Principal Investigator</h3>
<div class="person">
    
    <div class="headshot">
        <img class="headshot-img" src="./_includes/assets/img/headshot-500px-1.jpg"/>
    </div>
    
    <div class="bio">
        <h4>Joseph D. Romano, PhD</h4>
        <div class="titles">
            <p>Assistant Professor of Informatics</p>
            <p>Institute for Biomedical Informatics</p>
            <p>Center of Excellence in Environmental Toxicology</p>
            <p>Department of Biostatistics, Epidemiology, &amp; Informatics</p>
        </div>
        <p>
            <a href="http://jdr.bio">Personal website</a> | <a href="https://twitter.com/JDRomano2">Twitter</a> | <a href="https://www.linkedin.com/in/jdromano2/">LinkedIn</a>
        </p>
        {# <p>Joe Romano is Assistant Professor of Informatics at the University of Pennsylvania. He earned his bachelor of science degree in molecular genetics at the University of Vermont, and MA, MPhil, and PhD degrees in biomedical informatics at Columbia University, where he was a member of Nick Tatonetti's lab.</p> #}
    </div>

</div>
{% endblock %}