---
title: Lab Members
subtitle: Lab Members
permalink: /personnel.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
<p>Return to <a href="index.html">home</a></p>
<hr/>
<h2>Current lab members</h2>
<div class="person">
    <h3>Joseph D. Romano, PhD</h3>
    <p>
        <a href="http://jdr.bio">Personal website</a> | <a href="https://twitter.com/JDRomano2">Twitter</a> | <a href="https://www.linkedin.com/in/jdromano2/">LinkedIn</a>
    </p>
    <p>Joe Romano is Assistant Professor of Informatics at the University of Pennsylvania. He earned his bachelor of science degree in molecular genetics at the University of Vermont, and MA, MPhil, and PhD degrees in biomedical informatics at Columbia University, where he was a member of Nick Tatonetti's lab.</p>
</div>
{% endblock %}