---
title: Lab Members
subtitle: Lab Members
permalink: /personnel.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
<p>Return to <a href="index.html">home</a></p>
<hr/>
<h2>Current lab members</h2>
<h3>Principal Investigator</h3>
<div class="person">
    
    <div class="headshot">
        <img class="headshot-img" src="./_includes/assets/img/headshot-500px-1.jpg"/>
    </div>
    
    <div class="bio">
        <h4>Joseph D. Romano, PhD</h4>
        <div class="titles">
            <p>Assistant Professor of Informatics</p>
            <p>Institute for Biomedical Informatics</p>
            <p>Center of Excellence in Environmental Toxicology</p>
            <p>Department of Biostatistics, Epidemiology, &amp; Informatics</p>
            <p>University of Pennsylvania</p>
        </div>
        <div class="location">
            <p>403 Blockley Hall</p>
            <p>423 Guardian Drive</p>
            <p>Philadelphia, PA 19104</p>
        </div>
        <div class="links">
            <p>
                <a href="http://jdr.bio">Personal website</a> | <a href="https://twitter.com/JDRomano2">Twitter</a> | <a href="https://www.linkedin.com/in/jdromano2/">LinkedIn</a>
            </p>
        </div>
        {# <p>Joe Romano is Assistant Professor of Informatics at the University of Pennsylvania. He earned his bachelor of science degree in molecular genetics at the University of Vermont, and MA, MPhil, and PhD degrees in biomedical informatics at Columbia University, where he was a member of Nick Tatonetti's lab.</p> #}
    </div>

</div>

<hr/>
<h3>Postdoctoral researchers</h3>
<p>
    <i>We're hiring postdocs! If you're interested in working with us, see our <a href="positions.html">listing of open positions</a>.</i>
</p>

<hr/>
<h3>Lab staff</h3>
<p>
    <i>For open lab staff roles, see our <a href="positions.html">listing of open positions</a>.</i>
</p>

<hr/>
<h3>Students</h3>
<div class="person">
    <div class="headshot">
        <img class="headshot-img" src="./_includes/assets/img/angela-wu-headshot.jpeg"/>
    </div>
    
    <div class="bio">
        <h4>Angela Wu</h4>
        <div class="titles">
            <p>Undergraduate research intern</p>
            <p>Genomics and Computational Biology</p>
            <p>University of Pennsylvania</p>
        </div>
    </div>
</div>  
<p>
    <i>Prospective students can contact Dr. Romano at <a href="mailto:joseph.romano@pennmedicine.upenn.edu">joseph.romano <i>[at]</i> pennmedicine.upenn.edu</a>. For more information, see our <a href="positions.html">listing of open positions</a>.</i>
</p>

<hr/>
<h3>Friends of the Lab</h3>
{# No headshot #}
<div class="friend">
    <h4>Sokratis Apostolidis, MD</h4>
    <div class="titles">
        <p>Instructor of Medicine</p>
        <p>NRSA Postdoctoral Fellow of Medicine</p>
        <p>University of Pennsylvania</p>
    </div>
</div>
<div class="friend">
    <h4>Yun Hao, MA</h4>
    <div class="titles">
        <p>PhD Student in Genomics and Computational Biology</p>
        <p>University of Pennsylvania</p>
    </div>
</div>

<br>
{% endblock %}