---
title: Open positions
subtitle: Open positions
permalink: /positions.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
<p>Return to <a href="index.html">home</a></p>
<hr/>
<h2>Open positions</h2>
<p>
    The Romano Lab is newly established and looking for members in a variety of roles. All positions below will be officially recruiting as of January 2023, but interested applicants can <a href="mailto:joseph.romano@pennmedicine.upenn.edu">reach out</a> for more information immediately.
</p>
<h3>Lab staff:</h3>

<div class="wrap-collapsible">
    <input id="staff1" class="toggle" type="checkbox">
    <label for="staff1" class="collapsible-toggle">Software engineer</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                A major part of the lab's research involves developing open access scientific databases and tools for interacting with those databases. We are hiring a full-time developer to maintain these resources and add new functionality relating to the lab's current and future research projects. Qualified candidates should have experience with the Python and Javascript programming languages, as well as modern database technologies. They will also be comfortable with at least one modern Javascript frontend web framework. Applicants with experience in graph databases (e.g., Neo4j) will be given preference.
            </p>
            <p>
                A formal job posting for this position will be available soon on the Penn website.
            </p>
            <p><i>
                Note: This position will be listed as "Data Analyst" on the Penn job posting site due to internal policies. 
            </i></p>
        </div>
    </div>
</div>

<hr/>
<h3>Postdoctoral researchers:</h3>
<div class="wrap-collapsible">
    <input id="postdoc1" class="toggle" type="checkbox">
    <label for="postdoc1" class="collapsible-toggle">Postdoc - Computational toxicology</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                The Romano Lab is recruiting a postdoctoral researcher to develop and apply new methods in computational toxicology using artificial intelligence and techniques from biomedical informatics. We develop knowledge graphs to computationally <i>predict</i> and <i>explain</i> the downstream clinical effects that arise following exposure to environmental toxicants. This postdoc position will involve extending these knowledge graphs to new biomedical data types, and applying graph machine learning (Graph ML) to detect novel <a href="https://ntp.niehs.nih.gov/whatwestudy/niceatm/comptox/ct-aop/aop.html">adverse outcome pathways</a>. They will also have the opportunity to interact with real-world observational datasets (e.g., Penn's Electronic Data Warehouse and Biobank resources) to validate the Graph ML predictions.
            </p>
            <p>

            </p>
            <p>
                Qualified candidates for this position will have a PhD in biomedical informatics, pharmacology, computer science, or related fields, and a strong publication record. Prior experience with data science and computer programming is preferred.
            </p>
        </div>
    </div>
</div>
<div class="wrap-collapsible">
    <input id="postdoc2" class="toggle" type="checkbox">
    <label for="postdoc2" class="collapsible-toggle">Postdoc - Pharmacoinformatics</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                [Description here]
            </p>
            <p>
                Qualified candidates for this position will have a PhD in biomedical informatics, pharmacology, computer science, or related fields, and a strong record of publication. Prior experience with data science and computer programming is preferred.
            </p>
        </div>
    </div>
</div>
<p>
    All initial postdoc appointments will be for a period of 1 year, with the potential for renewals given satisfactory performance. Salary for new postdoc hires will be $65,000 plus comprehensive health insurance (details given <a href="https://clients.garnett-powers.com/pd/upenn/">here</a>).
</p>
<p>
    Interested applicants should submit a CV, cover letter indicating their reserach interests, and names/contact information of 2 references to <a href="mailto:joseph.romano@pennmedicine.upenn.edu">joseph.romano <i>[at]</i> pennmedicine.upenn.edu</a>.
</p>

<hr/>
<h3>PhD Students:</h3>
<p>
    Prospective PhD students should <a href="https://www.med.upenn.edu/bgs/phd-application-information.html">apply</a> to the graduate group in Genomics and Computational Biology (GCB) at the University of Pennsylvania, and have interests in one or more of the following fields:
</p>
<ul>
    <li>Translational bioinformatics</li>
    <li>Computational toxicology</li>
    <li>Biomedical ontologies</li>
    <li>Graph machine learning</li>
    <li>Cheminformatics</li>
    <li>Clinical informatics</li>
    <li>Natural product drug discovery</li>
</ul>
<p>
    Current or incoming GCB students are encouraged to set up a time to discuss rotation project ideas with Dr. Romano; he can be reached at <a href="mailto:joseph.romano@pennmedicine.upenn.edu">joseph.romano <i>[at]</i> pennmedicine.upenn.edu</a>.
</p>

<hr/>
<h3>Other roles:</h3>
<p>
    Don't see a position above that fits? We're always on the lookout for highly motivated scientists and students at different levels of their academic career &mdash; contact us to set up a time to chat about possible opportunities!
</p>
{% endblock %}