---
title: Lab Research
layout: layouts/page.njk
permalink: /research.html
---

<h1>Lab Research</h1>
<p>
    We participate in diverse and wide-reaching research in the fields of translational bioinformatics, predictive toxicology, and biomedical artificial intelligence. Below, we list a few of the major efforts we are either leading or contributing to.
</p>

<hr/>

<h2>ComptoxAI</h2>
<p>
    <a href="https://github.com/RomanoLab/comptox_ai" target="_blank">GitHub Link</a>
</p>
<p>
    ComptoxAI is a data infrastructure for AI research in computational and predictive toxicology. At its core, ComptoxAI contains a large, graph formatted knowledge base describing chemicals of toxicological concern, human diseases, and the complex network of biomedical interactions that mediate mechanisms of toxicity.
</p>
<p>
    In addition to the knowledge graph, ComptoxAI also includes a suite of tools for browsing the knowledge graph, educational resources, web APIs, and a growing library of machine learning models for discovering new knowledge from the knowledge graph.
</p>

<hr/>

<h2>AlzKB</h2>
<p>
    <a href="https://github.com/EpistasisLab/alzkb" target="_blank">GitHub Link</a>
</p>
<p>
    The Alzheimer's Knowledge Base (AlzKB) is a major new resource for discovering new therapeutic treatments for Alzheimer's Disease (AD). Developed by researchers at the University of Pennsylvania and Cedars-Sinai Medical Center, AlzKB contains a large, multimodal knowledge graph describing entities relevant to the etiology of AD. AlzKB is meant to serve both as an information retrieval tool for current knowledge about AD as well as a knowledge resource for applying advanced AI techniques to make new therapeutic discoveries, primarily by means of graph machine learning.
</p>

<hr/>

<h2>Ista</h2>
<p>
    <a href="https://github.com/RomanoLab/ista" target="_blank">GitHub Link</a>
</p>
<p>
    Ista is a toolkit for building and interacting with semantic knowledge representations. Originally spinning off of the ComptoxAI project (see above), we now use it to build all knowledge graphs constructed in the lab. Future development will include C++ and Python libraries for working with RDF and OWL files, tools for converting ontologies and knowledge graphs, and other utilities for manipulating these and similar formats for knowledge representations.
</p>

<h1>Funding</h1>

<p>
    <b>Discovering Clinical Endpoints of Toxicity Via Graph Machine Learning and Semantic Data Analysis (<tt>R00-LM013646</tt>).
</p>