@font-face {
    font-family: 'cmu_serifroman';
    src: url('_includes/assets/fonts/cmunrm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cmu_sans_serifbold';
    src: url('_includes/assets/fonts/cmunsx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cmu_typewriter_textregular';
    src: url('_includes/assets/fonts/cmuntt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    max-width: 800px;
    padding-top: 36px;
    padding-left: 48px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    /* font-family: 'cmu_serifroman', serif; */
    margin-bottom: 80px;
}

nav {
    flex: 0 1 auto;
}

.navbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    float: right;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    display: list-item;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

h1, h2, h3, h4, label {
    font-family: 'cmu_sans_serifbold', sans-serif;
}

h4 {
    margin-bottom: 8pt;
}

.headshot {
    height: 200px;
    width: 200px;
    float: left;
}

.headshot-img {
    width: 100%;
}

.bio {
    margin-left: 216px;
}

.person p {
    font-size: 0.9em;
    margin-block-start: 0;
    margin-block-end: 2px;
}

.friend p {
    font-size: 0.9em;
    margin-block-start: 0;
    margin-block-end: 2px;
}

.links {
    font-size: 0.9em;
    margin-block-start: 0;
    margin-block-end: 2px;
}

.location {
    padding-top: 8px;
}

.location p {
    font-size: 0.9em;
    margin-block-start: 0;
    margin-block-end: 2px;
}

.links {
    padding-top: 8px;
}

#bottom-footer {
    position: absolute;
    /* padding-left: 48px; */
    bottom: 0;
    height: 80px;

}


/* Collapsible info displays */
.wrap-collapsible {
    margin-left: 12px;
}
input[type='checkbox'] {
    display: none;
}
.collapsible-toggle {
    display: block;

    font-weight: bold;
    
    /* color: #A77B0E;
    background: #FAE042; */

    cursor: pointer;

    border-radius: 4px;

    transition: all 0.25s ease-out;
}
.collapsible-toggle:hover {
    color: #7C5A0B;
}
.collapsible-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}
.collapsible-content .content-inner {
    background: #f1f5f8;
    border-bottom: 1px solid #f1f5f8;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}
.collapsible-content {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
    margin-top: 4px;
    margin-bottom: 12px;
}
.collapsible-content p {
    margin-top: 6px;
    margin-bottom: 8px;
}
.toggle:checked + .collapsible-toggle + .collapsible-content {
    max-height: 100vh;
}
.toggle:checked + .collapsible-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
.toggle:checked + .collapsible-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#graph-banner {
    height: 250px;
    width: 800px;
}

#pennlink {
    color: #011F5B;
    text-decoration: none;
}

#homelink {
    color: #011F5B;
    text-decoration: none;
}

#jdrlink {
    text-decoration: none;
}

.person {
    min-height: 200px;
    height: auto;
}

.person h4 {
    margin-bottom: 4px;
}

.friend {
    height: auto;
}

.friend h4 {
    margin-bottom: 4px;
}

.pub-entry {
    margin-top: 24px;
    padding-left: 5px;
    padding-bottom: 4px;
    border-left: solid #6D8E87 5px;
}
.pub-entry p {
    margin-top: 6px;
}

.pub-title {
    margin-bottom: 0px;
    font-family: 'cmu_sans_serifbold', Sans-Serif;
}
  
.pub-authors{
    margin-bottom: 0px;
}
  
.pub-journal {
    margin-bottom: 6px;
}
  
.pub-button-journal {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 4px;
    font-family: 'cmu_sans_serifbold', Sans-Serif;
    padding-top: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pub-button-journal:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.mono-font {
    font-size: 12pt;
}

#email-display {
    margin-left: 2rem;
}

#address-display {
    margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
    #graph-banner {
        height: 125px;
        width: 400px;
    }

    .navbar {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        float: left;
        padding-bottom: 1.5em;
    }

    body {
        padding-left: 30px;
        padding-right: 30px;
    }
}