---
export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Romano Lab - Translational Bioinformatics at UPenn" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Voces&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="stylesheet" href="src/styles/global.css" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <a href="/" class="logo voces-regular">Romano Lab @ Penn</a>
          <ul class="nav-links voces-regular">
            <li><a href="/">Home</a></li>
            <li><a href="/people">People</a></li>
            <li><a href="/research">Research & Funding</a></li>
            <li><a href="/publications">Publications</a></li>
            <!-- <li><a href="/blog">Blog</a></li> -->
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <main>
      <slot />
    </main>
    
    <footer>
      <div class="footer-container">
        <p>&copy; {new Date().getFullYear()} Romano Lab. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
