---
layout: layouts/base.njk
title: Home
---

{% block content %}
<div class="container">

    <h2>Research</h2>
    <div class="punchcard">
        <p>
            We use emerging computational technologies—with a focus on artificial intelligence (AI)—to discover mechanisms underlying diverse human diseases.
        </p>
    </div>

    <h2>Software and Resources</h2>
    <div class="punchcard">
        <p>
            We build new knowledge bases and tools for analyzing complex biomedical knetworks. Check the links below to learn about some of these:
        </p>
        <ul>
            <li><a href="comptoxai.html">ComptoxAI</a></li>
            <li><a href="alzkb.html">AlzKB</a></li>
            <li><a href="ista.html">Ista</a></li>
        </ul>
    </div>
    
    <h2>Recent news and publications</h2>
    <div class="punchcard">
        <p>

        </p>
    </div>
    
</div>
{% endblock %}