---
layout: layouts/base.njk
title: Home
---

{% block content %}
<div class="container">
    <h2>Research</h2>
    <p>
        We use emerging computational technologies—with a focus on artificial intelligence (AI)—to discover mechanisms underlying diverse human diseases.
    </p>
    <h2>Software and Resources</h2>
    <p>
        We build new knowledge bases and tools for analyzing complex biomedical knetworks. Check the links below to learn about some of these:
    </p>
    <ul>
        <li><a href="comptoxai.html">ComptoxAI</a></li>
        <li><a href="alzkb.html">AlzKB</a></li>
        <li><a href="ista.html">Ista</a></li>
    </ul>
    <h2>Recent news and publications</h2>
    <p>

    </p>
</div>
{% endblock %}